table {
    width: 75%;
    margin: auto;
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: lightgray;
}